/*
Colors used:
Primary Color (Blue): #0074b6;
Primary Color (White): #ffffff;
Primary Color (Black): #000000;
Secondary Color (Gray): #929292;
*/
body {
  margin: 0;
  padding: 0;
  font-size:40px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: black;
}

a {
    color: #000; /* for browsers that don't support 'inherit' as a color value */
    color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  color: #000;
}

h3 {
  font-size: 1.2em;
}

p {
  color: #000;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 40px;
}

p,
figure {
  margin: 1em 0;
}

a img {
  border: none;
}

sup,
sub {
  line-height: 0;
}

img {
  width: 70%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #fafafa;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}

ul {
  list-style-position: inside;
}

.button {
  display: inline-block;
  background-color: #0074b6;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 1px;
  border-bottom: 1px solid #000;
  transition: 0.2s opacity;
}

.button-resume {
  text-align: center;
  display: inline-block;
  background-color: #0074b6;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 1px;
  border-bottom: 1px solid #000;
  transition: 0.2s opacity;
}

.story {
  text-align: center;
}

.button:hover {
  opacity: 0.85;
}

.button:hover {
  opacity: 0.85;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: #0074b6;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 1px;
  border-bottom: 1px solid #000;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #60ccf7;
  color: #000;
}

header {
  background-color: #fafafa;
  padding: 10px 0;
  width: 100%;
}

selector {
  position: relative;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
}

#about h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.logo img {
  max-width: 150px;
}

.logo {
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a !important;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.responsive nav {
  width: 100%;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
}

#work {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
}

#footer {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  text-align: center;
}

#about {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.63);
}

.tools {
  padding: 50px 0;
  text-align: center;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Banner */
* {
  box-sizing: border-box;
}

header {
  background-color: #fafafa;
  text-align: center;
  padding: 10px 0;
}

.logo {
  max-width: 150px;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.5em;
}

nav {
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  display: inline-block;
  padding: 0 15px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

/* our hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    position: relative;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }

  main {
    padding-top: 0px;
  }

  body {
    font-size: 16px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  h2 {
    text-align: center;
  }

  #about {
    text-align: center;
  }

  .social-icons img {
    width: 50px;
    height: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  main div.container:last-of-type {
    border-radius: 0 0 16px 16px;
  }

  header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #work h3 {
    font-size: 4em;
  }

  #work p {
    font-size: 1.25em;
  }

  .social-icons img {
    width: 50px;
    height: auto;
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {}
}

.social-icons img {
  width: 50px;
  height: auto;
}

.profile-pic img {
  width: 500px;
  height: auto;
  text-align: center;
  position: relative;
  top: 3px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.social-icons img {
  width: 50px;
  height: auto;
}
